.sidebar-wrapper {
  border-right: 1px solid black;
  width: 10%;
  height: 100%;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-avatar img {
  width: 200px;
  height: 100px;
  max-width: 100%;
}

.sidebar-page-links {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20em;
}

.sidebar-router-link {
  width: 100%;
  border-top: 1px solid black;
  text-align: center;
  padding: 1rem 0;
  text-decoration: none;
  background-position: 100% 0;
  background-size: 200% 100%;
  /* fix colors once have set color scheme */
  background-image: linear-gradient(to left, transparent 50%, rgba(189, 211, 147, 0.9) 50%);
  transition: all .4s ease-in;
}

.sidebar-router-link:hover {
  color: white;
  background-position: 0 0
}

.sidebar-router-link:last-child {
  border-bottom: 1px solid black;
}

.sidebar-social-icons-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.sidebar-social-icons-link {
  text-decoration: none;
  font-size: 1.4rem;
}
