.sidebar-wrapper {
  border-right: 1px solid black;
  width: 10%;
  height: 100%;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-avatar img {
  width: 100%;
  margin-top: 1rem;
}

.sidebar-page-links {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 20em;
}

.sidebar-router-link {
  width: 100%;
  border: 1px solid black;
  text-align: center;
  padding: 1rem 0;
  text-decoration: none;
}

.sidebar-social-icons-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.sidebar-social-icons-link {
  text-decoration: none;
  font-size: 1.4rem;
}
