.sidebar-wrapper {
  border-right: 1px solid black;
  width: 10%;
  height: 100vh;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-between;
}

.sidebar-avatar img {
  width: 100%;
}

.sidebar-page-links {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 20em;
}

.sidebar-router-link {
  width: 100%;
  border: 1px solid black;
  text-align: center;
  padding: 1rem 0;
  text-decoration: none;
}

.sidebar-social-icons {
  display: flex;
}
